src/pug/pages/index.pug
extends ../layout/_header

block append config
    -var pageTitle = 'MásCenter'
    -var pageDescription = 'Bienvenidos a MásCenter'
    -var baseDir = ''
    -var linkSrc = 'stripcenter/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide
        section.container
            .row
                .index-form
                    form(action="POST")
                        .form-group
                            label.col-sm-2(for="Dirección de correo") Dirección de correo
                            .col-sm-4
                                input.form-control(type="email")
                        .form-group
                            label.col-sm-2(for="Contraseña") Contraseña
                            .col-sm-4
                                input.form-control(type="password")
                        .form-group
                            input(type="submit" class="mas-center-red-btn mas-center-btn-large" value="Enviar")
        
    include ../layout/_footer
    include ../layout/_scripts

dist/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>MásCenter</title>
    <meta name="description" content="Bienvenidos a MásCenter">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body class="mas--máscenter">
    <div class="cd-loader">
      <h5>Cargando...</h5>
      <div class="cd-loader__grid">
        <div class="cd-loader__item"></div>
      </div>
    </div>
    <header class="mas-center-navigation">
      <nav class="navbar navbar-default">
        <header class="navbar-header">
          <button class="navbar-toggle collapsed hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#primary-nav"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a class="navbar-brand" href="index.html"><img src="assets/img/logo_mascenter.png" alt="Mas Center"></a>
        </header>
        <div class="collapse navbar-collapse" id="primary-nav">
          <ul class="nav navbar-nav">
            <li><a href="index.html" title="Home">Home</a>
            </li>
            <li><a href="nuestra-empresa.html" title="Nuestra Empresa">Nuestra Empresa</a>
            </li>
            <li class="js-dropdown"><a class="selected dropdown-toggle" href="stripcenters.html" title="Strip Centers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strip Centers<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="stripcenter/zona-norte.html" title="Zona Norte">Zona Norte</a>
                </li>
                <li><a href="stripcenter/zona-centro.html" title="Zona Centro">Zona Centro</a>
                </li>
                <li><a href="stripcenter/zona-sur.html" title="Zona Sur">Zona Sur</a>
                </li>
              </ul>
            </li>
            <li><a class="mas-center-red-btn" href="" title="Contacto" data-toggle="modal" data-target="#contactoModal">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="content-wrapper">
      <section class="slides">
        <div class="carousel slide" id="primary-slides" data-ride="carousel">
          <!--ol.carousel-indicators
          each i in [0,1,2,3]
              if i==0
                  li(class="active" data-target="#primary-slides" data-slide-to=""+i)
              else
                  li(data-target="#primary-slides" data-slide-to=""+i)
          -->
          <div class="carousel-inner" role="listbox">
            <div class="item text-center active"><img class="img-responsive" src="assets/img/1702571903_85.jpg" alt="Somos"/>
              <div class="carousel-caption carousel-caption-box cadousel-captio-left">
                <h2 class="title__display">Somos</h2>
                <p>Una cadena de Strip Centers</p>
              </div>
            </div>
            <div class="item text-center"><img class="img-responsive" src="assets/img/1702495403_2.jpg" alt="Tenemos"/>
              <div class="carousel-caption carousel-caption-box cadousel-captio-left">
                <h2 class="title__display">Tenemos</h2>
                <p>visión de ciudad moderna y optimizada</p>
              </div>
            </div>
            <div class="item text-center"><img class="img-responsive" src="assets/img/1703322103_75.jpg" alt="Siempre"/>
              <div class="carousel-caption carousel-caption-box cadousel-captio-left">
                <h2 class="title__display">Siempre</h2>
                <p>bien ubicados</p>
              </div>
            </div>
            <div class="item text-center"><img class="img-responsive" src="assets/img/1704292603_27.jpg" alt="Excelente"/>
              <div class="carousel-caption carousel-caption-box cadousel-captio-left">
                <h2 class="title__display">Excelente</h2>
                <p>accesibilidad y en armonía con el entorno</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="index-form">
            <form action="POST">
              <div class="form-group">
                <label class="col-sm-2" for="Dirección de correo">Dirección de correo</label>
                <div class="col-sm-4">
                  <input class="form-control" type="email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="Contraseña">Contraseña</label>
                <div class="col-sm-4">
                  <input class="form-control" type="password">
                </div>
              </div>
              <div class="form-group">
                <input class="mas-center-red-btn mas-center-btn-large" type="submit" value="Enviar">
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="col-sm-4"><img src="assets/img/logo-ifb-int.png" alt="ifb-inversiones"></div>
        <div class="col-sm-4">
          <h3>Dirección</h3>
          <p>Dirección: Av. El Bosque Norte 0123 <br>Oficina 603, Las Condes, Santiago, Chile</p>
          <h3>Teléfono</h3>
          <p>+56 2 2951 9269</p>
        </div>
        <div class="col-sm-4">
          <h3>STRIP CENTERS</h3>
          <li><a href="stripcenter/zona-norte.html" title="Zona Norte">Zona Norte</a>
          </li>
          <li><a href="stripcenter/zona-centro.html" title="Zona Centro">Zona Centro</a>
          </li>
          <li><a href="stripcenter/zona-sur.html" title="Zona Sur">Zona Sur</a>
          </li>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form action="">
            <div class="form-group">
              <label for="Dirección de correo">Dirección de correo</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label for="Contraseña">Contraseña</label>
              <input class="form-control" type="password">
            </div>
            <div class="form-group">
              <input type="checkbox" id="ncs">
              <label for="ncs"><span></span> No cerrar sesión</label><a class="pull-right mas-center-login-form--link" href="">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="form-group">
              <input class="mas-center-red-btn mas-center-btn-large" type="submit" value="Ingresar"><a class="small db mas-center-login-form--link" href="">¿Aún no tienes cuenta?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="assets/js/main-dist.js"></script>
  </body>
</html>
